---
import shapes from '../shapes.json'

const BASE_URL = import.meta.env.BASE_URL

export interface Props {
  page?: number
}

const { page } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href={`${BASE_URL}/favicon.svg`} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Shape</title>
  <link rel="canonical" href={Astro.url} />
  {
    page != null && (
      <>
        {page > 1 && (
          <link
            rel="prefetch"
            href={`${BASE_URL}/page/${page - 1}/`}
            data-page={page - 1}
          />
        )}
        {page < shapes.length && (
          <link
            rel="prefetch"
            href={`${BASE_URL}/page/${page + 1}/`}
            data-page={page + 1}
          />
        )}
      </>
    )
  }
</head>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const BASE_URL = import.meta.env.BASE_URL

    for (const prefetchEl of document.querySelectorAll<HTMLLinkElement>(
      'link[rel=prefetch][data-page]',
    )) {
      const { page } = prefetchEl.dataset

      const { devicePixelRatio: dpr } = window
      let variant = ''
      if (dpr > 2) {
        variant = '_4x'
      } else if (dpr > 1) {
        variant = '_2x'
      }

      const imgPrefetch = document.createElement('link')
      imgPrefetch.rel = 'prefetch'
      imgPrefetch.href = `${BASE_URL}/image/${page}${variant}.png`
      document.head.appendChild(imgPrefetch)
    }
  })
</script>
