---
import type { ImageMetadata } from 'astro'
import type ShapesData from '../shapes.json'
import { Image } from 'astro:assets'
import Page from '../layouts/Page.astro'

const BASE_URL = import.meta.env.BASE_URL

export interface Props {
  title: string
  shapes: Array<(typeof ShapesData)[number]>
}

const { title, shapes } = Astro.props

const imgs = await import.meta.glob<{ default: ImageMetadata }>(
  `../../public/image/*.png`,
  { eager: true },
)
---

<Page>
  <p>{title}</p>

  <div class="thumbs">
    {
      shapes.map(({ page, title }) => (
        <a href={`${BASE_URL}${page}`}>
          <Image
            src={imgs[`../../public/image/${page}.png`].default}
            alt={title}
            width={2 * 67}
            height={2 * 96}
          />
        </a>
      ))
    }
  </div>
</Page>

<style>
  .thumbs {
    padding-bottom: 1em;
  }

  .thumbs img {
    width: 100%;
    height: auto;
  }

  .thumbs a {
    display: inline-block;
    margin: 8px;
    padding: 5px;
    border: 1px solid #222;
    width: 67px;
    height: 96px;
  }
</style>
